<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsForms_Prescription.Properties.Settings.clinixdbConnectionString"
            connectionString="Data Source=DESKTOP-J44KCUR\SQLEXPRESS;Initial Catalog=clinixdb;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>